.a{
    color: white;
}
.dropdown-item:active{
    background-color: whitesmoke;

}

.a:hover{
    color: white;
}

#__next {
    padding: 20px;
}
.image-item {
    padding: 0px 0px 0px 30px;
}

body{
    font-family: 'Roboto', sans-serif, black;
}
.btn{
    height: 36px;
}

/*Contenedores*/

.card-container{
    width: 244px;
    margin: 10px 20px 10px 0px;
}
.contenedor-navbar{
    padding: 10px 15% 0 15%;
    background-color: #F9F9F9;
}
@media (max-width:900px){
    .contenedor-navbar{
        padding-left: 20px;
        padding-right: 20px;
    }
}
.contenedor-boton{
    width: 200px;
}
@media (max-width:500px){
    .contenedor-boton{
        padding-left: 10%;
        padding-right: 10%;
        margin-top: 20px;
        margin-bottom: 10px;
        width: 100%;
    }
}


/*Contenedores*/

/* Navbar  */
.nav-img{
    width: 180px;
    height: 40px;
}
.navbar-p{
    font-size: 18px;
    color: #282828;
}
.navbar-p:hover{
    color:#D60238;
    background-color: transparent;
}
.navbar-dark .navbar-nav .nav-link {
    color: black;
    font-family: 'Roboto', sans-serif, black;
}

.navbar-dark .navbar-nav .nav-link:hover{
    color: #D60238;
}
.nav-item{
    padding: 0 5% 0 5%;
    font-size: 17px;
}

.navbar-toggler{
    background-color: #D60238;
}
.fa-phone{
    transform: rotate(90deg);
}
.btn-color{
    height: 40px;
    width: 300px;
    background-color: #D60238;
}
/* Navbar  */

/*Front Text*/
.front-img{
    width: 33rem;
    height: 40rem;
}
.front-h1{
    color: #272727;
    font-family: "Poppins",Sans-serif;
    font-size: 36px;
    font-weight: 600;
    text-transform: uppercase;
    box-sizing: border-box;
    line-height: 1;
    display: block;
    text-align: left;
    margin-top: 5px;
}
.front-p1{
    font-weight: 600;
    color: #D60238;
    font-size: 18px;
    margin-bottom: 10px;
}
.txt-container{
    margin-top: 5.5%;
}

.front-p2{
    font-size: 18px;
    color: #272727;
}
.front-p3{
    font-weight: 600;
    font-size: 18px;
}

.front-p4{
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 16px;
}
.front-p5{
    font-weight: 600;
    color: #D60238;
    font-size: 16px;
}
.btn-txt{
    height: 45px;
    width: 70%;
    background-color: #D60238;
}
@media (max-width:900px){
    .btn-txt{
        margin:0 15% 0 15%
    }
}
.p-btn{
    font-family: "Roboto",Sans-serif;
    font-weight: 500;
    font-size: 15px;
}
@media (max-width:900px){
    .front-h1,.front-p1,.front-p2,.front-p3,.front-p4,.front-p5{
        text-align: center;
    }
}
/*Front Text*/

/*Carrusel*/


.react-multi-carousel-list{
    margin: auto;
    width: auto;
    height: 223px;
    left: 2px;
}

@media (min-width:900px){
    .react-multi-carousel-list{
        left: 10%;
    }
}

.react-multi-carousel-item{
    padding: 30px;
    width: 300px !important;
    margin-right: 0px;
}
.image{
    padding: 10px;
    border: 3px solid #D60238;
}
/*Carrusel*/

/*Franja*/
.franja{
    background-color: #D60238;
    width: 100%;
    height: auto;
}
.franja-h1{
    color: #F9F9F9;
    font-size: 1.98vw;
    text-align: center;
}
.franja2-h1{
    color: #F9F9F9;
    font-size: 36px;
    text-align: justify;
}
@media (max-width: 900px){
    .franja2-h1{
        font-size: 20px;
        text-align: center;
    }
    }
.franja-p{
    color: #FFF;
    font-family: "Roboto",Sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-left: 25%;
}
@media (max-width: 900px){
    .franja-p{
        margin-left: 22%;
        margin-right: 10%;
    }
}
@media (max-width: 900px){
.franja-h1{
    font-size: 20px;
    text-align: center;
}
}
.franja-lista{
    color: #FFF;
    font-family: "Roboto",Sans-serif;
    font-size: 22px;
    font-weight: 400;
}
/*Franja*/

/*BoxFlip*/
/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card-container{
    width: 896px;
    height: auto;
}
@media (max-width: 900px){
    .flip-card-container{
        width: 100%;
    }
}
.flip-card {
    background-color: white;
    color: white;
    width: 100%;
    height: 144px;
    border: 3px solid #D60238;
}
.flip-card2 {
    background-color: white;
    color: white;
    width: 100%;
    height: 250px;
    border: 3px solid #D60238;
}
@media (max-width: 900px){
    .flip-card2{
        width: 100%;
    }
}
  
  /* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}
  
  /* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}
.flip-card2:hover .flip-card-inner {
    transform: rotateY(180deg);
}
  
  /* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}
  
  /* Style the front side (fallback if image is missing) */
.flip-card-front {
    background-color: white;
    color: #D60238;
}
  
  /* Style the back side */
.flip-card-back {
    background-color: #D60238;
    color: white;
    transform: rotateY(180deg);
    
}
.box-btn{
    background-color: white;
    border: 2px solid white;
    color: #D60238;
    padding:6px 10px 10px 10px;
    margin-top: 50px;
    font-weight: 600;
}
.box-btn:hover{
    background-color: #D60238;
    color: white;
}
.box-p{
    font-family: "Roboto",Sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding: 50px 10px 10px 10px;
}
.box-p2{
    font-family: "Roboto",Sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding: 40px 10px 10px 10px;
}
.box-p3{
    font-family: "Roboto",Sans-serif;
    font-size: 22px;
    font-weight: 600;
    padding: 20px 10px 10px 10px;
}

.btn-box{
    height: 45px;
    width: 300px;
    background-color: #D60238;
    margin-top: 50px;
    margin-bottom: 50px;
}

/*BoxFlip*/

/*Texto2*/
.p-txt2{
    color: #282828;
    font-family: "Roboto",Sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
}
.txt-img{
    width: 615px;
    height: 398px;
}
.container-txt2{
    margin-top: 50px;
    width: 265px;
    height: 500px;
    margin-right: 50px;
}
.txt-tittle{
    color: #D60238;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif, black !important;
    margin-bottom: 0px;
    padding: 10px 0 8px 0;
}
.container-row2{
    margin-left: 0px;
}
.txt2-div-icon{
   margin-top: 10px;
}
.txt2-div-icon2{
    margin-top: 90px;
 }
@media (min-width: 900px){
    .txt2-div-icon2{
        margin-top: 72px;
    }
}
.txt2-div-icon3{
    margin-top: 135px;
}
@media (min-width: 900px){
    .txt2-div-icon3{
        margin-top: 110px;
    }
}

.container-icons{
    width: 20px;
}

.txt2-div-img{
    margin-top: 50px !important;
}
/*Texto2*/

/*Fotter*/
.container-fotter{
    background-color: #5F6062;
    height: auto;
    width: auto;
}
.container-copy{
    background-color: #43464c;
    height: auto;
    width: auto;

}
.p-copy{
    color: rgba(255,255,255,.32);
    font-size: 13px;
    font-weight: 300;
    padding: 15px 0 15px 0;
    text-align: center;
}
.heading-fotter{
    color: #FFF;
    font-family: "Roboto",Sans-serif;
    font-weight: 400;
    text-align: justify;
}
.p-fotter{
    color: rgba(255,255,255,.45);
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto",Sans-serif !important;
    text-align: justify;
}

.principal{
    width: 1400px;
    background-color:white;
    height: 1000px;
}
.categorias{
    width: 300px;
    background-color: aqua;
}
.icon-catalogo{
    width: 50px;
    height: 50px;
}
.btn-cat{
    width: 300px;
    height: 45px;
}
.link-box{
    font-family: "Roboto",Sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #D60238;
}
.link-box:hover{
    color: #F9F9F9;
}
    