.card-title{
    font-size: 24px;
    font-weight: 600;
}
.card-marca{
    font-size: 18px;
    font-weight: 400;
}
.card-price{
    font-size: 22px;
    font-weight: 600;
}
.card{
    height: 664px;
}
@media (max-width: 900px){
    .card{
        height: auto;
    }
}
.textos-card{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}