/*Fotter*/
.container-fotter{
    background-color: #5F6062;
    height: auto;
    width: auto;
}
.container-copy{
    background-color: #43464c;
    height: auto;
    width: auto;

}
.p-copy{
    color: rgba(255,255,255,.32);
    font-size: 13px;
    font-weight: 300;
    padding: 15px 0 15px 0;
    text-align: center;
}
.heading-fotter{
    color: #FFF;
    font-family: "Roboto",Sans-serif;
    font-weight: 400;
    text-align: justify;
}
.p-fotter{
    color: rgba(255,255,255,.45);
    font-size: 14px;
    font-weight: 300;
    font-family: "Roboto",Sans-serif !important;
    text-align: justify;
}

.principal{
    width: 1400px;
    background-color:white;
    height: 1000px;
}
.categorias{
    width: 300px;
    background-color: aqua;
}
.icon-catalogo{
    width: 50px;
    height: 50px;
}
.btn-cat{
    width: 300px;
    height: 45px;
}
.link-box{
    font-family: "Roboto",Sans-serif;
    font-size: 16px;
    font-weight: 600;
    color: #D60238;
}
.link-box:hover{
    color: #F9F9F9;
}
    