.nav-navbarCatalogo{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 16px;
    text-decoration: none;
}
.nav-navbarCatalogo:hover{
    color: #fff;
}
.nav-navbarCatalogo li a{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.nav-navbarCatalogo li a:hover{
    color: #fff;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

#buttons-navbarCatalogo2{
    background-color: transparent;
    border: none;
    color: #FFF;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 14px;
}

#buttons-navbarCatalogo{
    color: #FFF;
    font-size: 18px;
}
.toggler-navbarCatalogo{
    border-color: transparent !important;
}   
.toggler-navbarCatalogo::selection{
    color: transparent !important;
    border: none;
}   


