.section-four{
    background-color: #E5E5E5;
    width: 100%;
    height: auto;
}
.titulo{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.texto{
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 300;
}
.div-boton{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.recuadro{
    position: relative;
    width: 300px;
    height: 300px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    background-color: white;
}
.container-section{

}
@media (max-width:900px){
    .container-section{
        width: 92vw;
    }
}